/* Feed for Public computers and facility pages */

body {
    max-width: 550px;
	margin-top: 2px;
}
.libFeatures {
scrolling:no; 
frameborder:0; 
allowtransparency:true;
width:100%;
}
.wclTable {
    width: 100%;
}
.btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #396d08;
    border: solid #396d08;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    opacity: 0.8;
    box-shadow: 5px 5px 5px #888888;
}
.btn-primary:hover {
    opacity: 1.5;
}
.btn-secondary {
    text-decoration: none;
    color: #FFF;
    background-color: #14234B;
    border: solid #14234B;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    opacity: 0.8;
    box-shadow: 5px 5px 5px #888888;
}
.btn-secondary:hover {
    opacity: 1.0;
}
#button1, #button2 {
color: white;
}

.dcatalog {
    float: right;
    margin-top: 75px;
    display: inline;
    margin-right: auto;
    margin-left: auto;
}
#searchForm  {
    display: inline-block;
	zoom: 1;
    *display: inline;
}
.searchboxwrapper {
    border: solid 2px #888888;
    border-radius: 5px 5px;
    font-size: 14px;
    margin: 0px;
    display: inline-block;
	zoom: 1;
    *display: inline;
}
#CatalogSarchBox {
    outline: none;
    border: none;
    padding-left: 5px;
    height: 25px;
	width: 74%;
}
.searchsubmit {
    background-color: #396d08;
    padding: 5px 10px 5px;
    cursor: pointer;
    border: solid 2px #396d08;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: 'FontAwesome';
    float: right;

}
.searchsubmit:hover {
    background-color: #14234B;
    border: solid 2px #14234B;
    opacity: 0.8;
}
.eventHeader {
    font-family: Verdana;
    font-size: 11pt;
    color: #2C668D;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

.eventHeader h2 {
margin-bottom: 2px;
}

 /* Library events */
.section-header {
    color: #285C8E
}
div.wcm-events {
    color: #454545;
    max-width: 40em;
    overflow: hidden;
}
div.wcm-events a:link {
    text-decoration: none;
}
div.wcm-events a:hover {
    text-decoration: underline;
}
.subheaderEvents a:link {
    color: #609BC2;
}
.subheaderEvents a:visited {
    color: #609BC2;
}
.eventsinfo {
    /*overflow:auto;*/
    
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Verdana;
}
.eventsinfo #eventtitle {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 10px;
    top: 0mm;
    width: 100%;
    padding-top: 5px;
    float: left;
    /* Set float so eventtime DIV will appear to the right of event title */
    
    color: #609BC2;
    padding-left: 0px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-family: Verdana;
}
.eventsinfo #eventdate {
    text-align: left;
    color: #81993F;
    margin-left: 5px;
    font-size: 12px;
    padding-left: 10px;
    line-height: 100%;
    float: left;
    font-family: Verdana;
}
.eventsinfo #eventtime {
    text-align: right;
    color: #81993F;
    margin-right: 10px;
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
    float: right;
    font-family: Verdana;
}
.eventsinfo #eventendtime {
    display: none;
}
.eventsinfo #eventdescription {
    padding-left: 10px;
    padding-top: 3px;
    text-align: left;
    font-size: 12px;
    color: #737373;
    clear: both;
    font-family: Verdana;
}
.eventsinfo #eventlocation {
    clear: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #81993F;
    padding-bottom: 10px;
    border-bottom: #dfe5e6 1px solid;
    font-size: 12px;
    text-align: right;
    position: relative;
    bottom: 5px;
}
.eventsinfo #eventlibrary {
    display: none;
}
.eventsinfo #eventtitle a:link, a:visited {
    color: #609BC2;
}
.eventsinfo #eventtitle a:hover {
    text-decoration: underline;
}
.sidebar_main {
    font-size: 20px;
    color: #F00;
}
@media only screen and (max-width: 480px) {
    .searchsubmit {
        width: 100%;
    }
    #CatalogSarchBox {
        width: 95%;
    }
    .padding {
        float: left;
    }
    .btn-secondary {
        margin: 0px;
    }
}